<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="/css/universal.css">
    <link rel="stylesheet" href="/css/login_logout.css">
    <style>
        /* Default CSS Values */
        a:link, a:visited { 
          color:black;
          text-decoration: underline;
          cursor: auto;
        }
    </style>
</head>

<body>
    <div id="head">
        <div id="header">
            <img id="logo" src="/images/DLSU.png"> </img>
            <div id="logo-text"> DLSU LABORATORY RESERVATION SYSTEM </div> 
        </div>
        <div>
            <button type="button" id = "home" onclick="window.location.href='/homie';">Home</button>
        </div>
    </div>
        
    <div class="aboutContainer">
        <div id="aboutHeader">ABOUT</div>
        <div id ="dividerShape"></div>
        <div id="aboutBody">
            <div id="aboutText">
                <p>This is a project made by De La Salle University Students in compliance
                    with their CCAPPDEV course submission for Machine Project Phase Two.
                    The project is a web laboratory slot/seat reservation system with multiple
                    features which may be found in a real life reservation system.</p>
            </div>
            <div id="aboutText">
                <p>It is a system that allows students to reserve a slot in different laboratory 
                    rooms for a certain time and date. It also allows the admin to view, edit,
                    and remove reservations made by the students. The system also allows the admin
                    to view, edit, and remove the accounts of the students.</p>
            </div>
            <div id="aboutText">
                <p>The system is made using Node.js, Express, and Handlebars. The database used
                    is MongoDB. The system is hosted in Render. <br> The packages used for the project are HBS, Express, Mongoose, and Nodemon</p>
            </div>
            <div id="aboutText">
                <p>For more information, please contact the developers of the system.</p>
            </div>
            <div id="aboutText">
                <p>Developers: <br>Baluyot, Arczen<br>Ching, Bryan<br>Deguzman, Gabe<br>Dela Pena, Jacob</p>
            </div>
        </form>
    </div>

</body>

</html>