<!DOCTYPE html>
<hbs>

<link rel="stylesheet" href="/css/universal.css">

    <head>
        
        <style>
            /* Default CSS Values */
            a:link, a:visited { 
              color:black;
              text-decoration: underline;
              cursor: auto;
            }
        </style>
        
    </head>

    <body>
        <div id = "top">
            <div id = "topLeft">
                <div id = "logo"><img src = "/images/DLSU.png"></div>
                <div id = "title">DLSU LABORATORY RESERVATION SYSTEM</div>
            </div>
            <div id = "topRight">

                <div class ="dropdown margin">
                    <button type="button" id="reservee" class="reservee">RESERVE</button>
                        <div class="dropdown-content">
                            <button type="button" class = "button innerlink" onclick="window.location.href='/reserve';">Reserve For Student</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/remove';">Remove Reservation</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/edit_reservations';">Edit Reservation</button>
                            <button type="button" class = "button innerlink " onclick="window.location.href='/view_reservations';">View Reservation</button>
                        </div>
                </div>
                
                
                <button id = "view" class = "dropbtn margin" onclick="window.location.href='/view_slot';">VIEW SLOT</button>
                <button type="button" id = "home" onclick="window.location.href='/homie';">Home</button>

                <div class ="dropdown margin">
                    <button type="button" id="icon" class = "dropbtn"><img src="/images/profile.png"></button>
                    <div class="dropdown-content-user">
                        <button type="button" class = "button innerlink" onclick="window.location.href='view_user';">View User Profile</button>
                        <button type="button" class = "button innerlink" onclick="window.location.href='edit_user';">Edit User Profile</button>
                    </div>
                </div>
            </div>
        </div>
        
       <div class="sign-up-container">
        <div id = "contents">
        <h1 id="login-text"> EDIT RESERVATION </h1><br>
        <form class="login-form" id="login"> 
            <div class="inp">
                <label for="selectedDate">Reservation Date: </label><br>
                <input type="date" id="date" name="selectedDate">
            </div>

            <div id= "inp">
                <div id="timeText">
                <label id="timeTitle" for="selectedTime">Time: </label>
                <select name="class2" id="class2" onchange="fetchReservedSeats()">
                <option value="7:00" >7:00</option>
                <option value="7:30">7:30</option>
                <option value="8:00">8:00</option>
                <option value="8:30" >8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00" >10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30" >11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="1:00">1:00</option>
                <option value="1:30" >1:30</option>
                <option value="2:00">2:00</option>
                <option value="2:30">2:30</option>
                <option value="3:00">3:00</option>
                <option value="3:30" >3:30</option>
                <option value="4:00">4:00</option>
                <option value="4:30">4:30</option>
                <option value="5:00">5:00</option>
                </select>
                </div>
            </div>

            <div id= "inp">
                <label id="classText" for="class">Room: </label><br>
                <select name="class" id="class">
                <option value="AG1904">AG1904</option>
                <option value="GK306A">GK306A</option>
                <option value="GK302B">GK302B</option>
                </select>
            </div>
                
            <div class="inp">
                <label for="seat">Seat: </label><br>
                <input type="seat" id="seat" name="seat" ><br>
            </div>

            <div class="inp">
                <label for="name">Name: </label><br>
                <input type="name" id="nameinp"  ><br>
            </div>

            <div id="button">
            <button type="submit" id="submit" onclick="addReservation()">Add</button>
            <button type="Add" id="Remove" onclick="removeReservation()">Remove</button>
             </div>
        </form>
        </div>
        </div>
    </body>
    <script src="static/Controller/edit_reservationsController.js"></script>

</hbs>