<!DOCTYPE html>
<hbs>
    <link rel="stylesheet" href="css/universal.css">

    <head>
        <style>
            /* Default CSS Values */
            a:link, a:visited { 
              color:black;
              text-decoration: underline;
              cursor: auto;
            }
        </style>
    </head>

    <body>
        <div id = "top">
            <div id = "topLeft">
                <div id = "logo"><img src = "/images/DLSU.png"></div>
                <div id = "title">DLSU LABORATORY RESERVATION SYSTEM</div>
            </div>
            <div id = "topRight">

                <div class ="dropdown margin">
                    <button type="button" id="reservee" class="reservee">RESERVE</button>
                        <div class="dropdown-content">
                            <button type="button" class = "button innerlink" onclick="window.location.href='/reserve';">Reserve For Student</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/remove';">Remove Reservation</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/edit_reservations';">Edit Reservation</button>
                            <button type="button" class = "button innerlink " onclick="window.location.href='/view_reservations';">View Reservation</button>
                        </div>
                </div>
                
                
                <button id = "view" class = "dropbtn margin" onclick="window.location.href='/view_slot';">VIEW SLOT</button>
                <button type="button" id = "home" onclick="window.location.href='/homie';">Home</button>

                <div class ="dropdown margin">
                    <button type="button" id="icon" class = "dropbtn"><img src="/images/profile.png"></button>
                    <div class="dropdown-content-user">
                        <button type="button" class = "button innerlink" onclick="window.location.href='view_user';">View User Profile</button>
                        <button type="button" class = "button innerlink" onclick="window.location.href='edit_user';">Edit User Profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div id = "mid">
            <div id = "midContainer">
                <div id="midTop">
                    ROOMS
                </div>
                <div id="midBottom">
                <button type="button" id = "A1904" onclick="window.location.href='/remove';">AG1904</button>
                <button type="button" id = "GK306" onclick="window.location.href='/remove_reservation_GK306A';">GK306A</button>
                <button type="button" id = "GK302B" onclick="window.location.href='/remove_reservation_GK302B';">GK302B</button>
                </div>
            </div>
        </div>

        <div id = "detailFather">
        <div class="detailContainer">
            <div class="details">
                To remove a reservation, select date and time, and click on a tile.
            </div>
        </div>
        <div id = "space">

        </div>
        <div class="detailContainerTwo">
            <div class="detailsTwo">
                REMOVE RESERVATION
            </div>
        </div>

    </div>
        
        
       <div class="seatContainer">
    <div class="board">BOARD</div>
    <div class="legend">LEGEND
        <div class="resLegend">Available</div>
        <div class="availLegend">Reserved</div>
    </div>
    <div id="seatBoard">
        {{#each seats}}
            <div class="seat {{#if reserved}}seat taken{{/if}}" data-seat="{{this}}" onclick="removeSeat('{{this}}', '{{../selectedDate}}')">{{this}}</div>
        {{/each}}
    </div>

    <div class="date">
        <label for="selectedDate">Reservation Date: </label>
        <input type="datetime-local" id="reservation" name="selectedDate" onchange="fetchReservedSeats()" step="3600">
    </div>
</div>
<script src = "static/Controller/remove_GK306A.js"></script>
    </body>


</hbs>
