<!DOCTYPE html>
<hbs>
    <link rel="stylesheet" href="css/universal.css">

    <head>
        <style>
            /* Default CSS Values */
            a:link, a:visited { 
              color:black;
              text-decoration: underline;
              cursor: auto;
            }
        </style>
    </head>

    <body>
        <div id = "top">
            <div id = "topLeft">
                <div id = "logo"><img src = "/images/DLSU.png"></div>
                <div id = "title">DLSU LABORATORY RESERVATION SYSTEM</div>
            </div>
            <div id = "topRight">
                

                <div class ="dropdown margin">
                    <button type="button" id="reservee" class="reservee">RESERVE</button>
                        <div class="dropdown-content">
                            <button type="button" class = "button innerlink" onclick="window.location.href='/reserve';">Reserve For Student</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/remove';">Remove Reservation</button>
                            <button type="button" class = "button innerlink" onclick="window.location.href='/edit_reservations';">Edit Reservation</button>
                            <button type="button" class = "button innerlink " onclick="window.location.href='/view_reservations';">View Reservation</button>
                        </div>
                </div>
                
                <button type="button" id = "home" onclick="window.location.href='/homie';">Home</button>

                <div class ="dropdown margin">
                    <button type="button" id="icon" class = "dropbtn"><img src="/images/profile.png"></button>
                    <div class="dropdown-content-user">
                        <button type="button" class = "button innerlink" onclick="window.location.href='view_user';">View User Profile</button>
                        <button type="button" class = "button innerlink" onclick="window.location.href='edit_user';">Edit User Profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div id = "mid">
            <div id = "midContainer">
                <div id="midTop">
                    ROOMS
                </div>
                <div id="midBottom">
                <button type="button" id = "A1904" onclick="window.location.href='/view_slot';">AG1904</button>
                <button type="button" id = "GK306" onclick="window.location.href='/view_slot_GK306A';">GK306A</button>
                <button type="button" id = "GK302B" onclick="window.location.href='/view_slot_GK302B';">GK302B</button>
                </div>
            </div>
        </div>
        
        <div id = "detailFather">
        <div class="detailContainer">
            <div class="details">
                To view a slot, select a date and time you want to reserve.
            </div>
        </div>
        <div id = "space">

        </div>
        <div class="detailContainerTwo">
            <div class="detailsTwo">
                VIEW SLOT
            </div>
        </div>

    </div>

         <div class="seatContainer">
    <div class="board">BOARD</div>
    <div class="legend">LEGEND
        <div class="resLegend">Available</div>
        <div class="availLegend">Reserved</div>
    </div>
    <div id="seatBoard">
        {{#each seats}}
            <div class="seat {{#if reserved}}seat taken{{/if}}" data-seat="{{this}}">{{this}}</div>
        {{/each}}
    </div>

    <div class="date">
        <label for="selectedDate">Reservation Date: </label>
                <input type="date" id="reservation" name="selectedDate" >
                <label for="selectedTime">Time: </label>
                <select name="time" id="time" onchange="fetchReservedSeats()">
                <option value="7:00" >7:00</option>
                <option value="7:30">7:30</option>
                <option value="8:00">8:00</option>
                <option value="8:30" >8:30</option>
                <option value="9:00">9:00</option>
                <option value="9:30">9:30</option>
                <option value="10:00" >10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30" >11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="1:00">1:00</option>
                <option value="1:30" >1:30</option>
                <option value="2:00">2:00</option>
                <option value="2:30">2:30</option>
                <option value="3:00">3:00</option>
                <option value="3:30" >3:30</option>
                <option value="4:00">4:00</option>
                <option value="4:30">4:30</option>
                <option value="5:00">5:00</option>
                </select>
    </div>
</div>

<script src="static/Controller/view_GK306A.js"></script>
    </body>
</hbs>